<div id="readMeId">
    

   
    <p>
        Hi there! I am Fran Prieto, Junior Web Developer trying to get my place. This is a webapp made after sometime without programming
        to refresh, update and get better coding, JS and Angular skills.
        Here I will try to detail <span id="learned">the things I practiced and/or learned.</span>

    </p>

    <p>
        Please understand that, as it is a practice project, code is maybe "overcommented", but I found it necessary.
        I am trying to find my own coding style, as well as learning clean code best practices.
        Now I am reading <a href="https://www.amazon.es/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882" target="_blank">this book about clean code</a>,
        and things will get better on each project.
    </p>

    <h2><span class="h2header">WHERE CAN I FIND THE SOURCE CODE AND DOCUMENTATION?</span></h2>


    <p>You can see the code on <a href="https://github.com/Franweb79/Datepedia-pwa" target="_blank">Github</a>, also <b><u>don´t forget to follow me</u> on <a href="https://www.linkedin.com/in/francisco-javier-prieto-gut/" target="_blank">LinkedIn</a> and <a href="https://twitter.com/home?lang=es" target="_blank">Twitter</a>.</b></p>
    <p>Also I provided some documentation which you can check <a href="./documentation" target="_blank">here</a>
    </p>
    <p>if you are a developer, on the README file you will find a section called 
    <span id="learned">#NOTES FOR DEVELOPERS</span>. If you see a comment on the source code indicating
        <i>"check README Notes for developers 18"</i>, then you can check that section, and on number 18
        you will find useful information about logic I used. However, nex time I will try to focus more on the <i>"why"</i> than on <i>"how"</i> or <i>"what"</i>
    </p>
    <p>Also on the README you fill find a KNOWN BUGS section with things to solve</p>

    <h2><span class="h2header"> 2022.01. UPDATE</span></h2>

    <p> Now, <span id="learned">THIS WEBAPP IT HAS BEEN ENHANCED ANS ALSO WORKS NOW AS A PWA</span> (Progressive Web Application). 
        That means, you can install it on your device and work with it offline! Like a desktop or native mobile app. 
        It mixes best of both worlds.</p>

        More info:

    <ul>
        <li> <a href="https://en.wikipedia.org/wiki/Progressive_web_application" target="_blank">Progressive Web Applications</a></li>
        <li>Check on the link above if your SO and your browser support PWA before installing.</li>
        
    </ul>

    <p>Please take in mind that if you use offline version, you can calculate the difference of days between the two dates because it is not needed to go online to perform that task; but you could not retrieve any data from the API and hence when you want to see historic facts happened on those days and months, an error which prompts you to check your connection  would be thrown. </p>

    <p>I fixed a bug from the old non PWA version where error messages and proper data could be shown together.</p>
    
    <h2><span class="h2header">WHAT DOES Datepedia-pwa DO?</span></h2>

    <p><b>You can set two different dates, then calculate how many days have passed between them. But also you will be able to know what happenned on such days and month through History thanks to an API</b></p>
    
    <h2><span class="h2header">WHAT HAVE I LEARNED OR IMPLEMENTED WHILE DEVELOPING Datepedia-pwa?</span></h2>
    
    <p>This is a little list of things I implemented or done on this project</p>

    <ul id="readMeListId">

        <li>
            Create and install an angular Progressive Web App. Also learned about the <span id="learned">concept of service workers, web workers, webmanifest</span>.
        </li>
        <li>
            I used <span id="learned">reactive forms</span> -until now, I was more used to template driven ones-, with built-in and <span id="learned">custom validators</span>. For example, custom validator is created to ensure, if user inputs same exact date, form will be invalid.
        </li>
        <li>
            You can enter the dates in the order you want. No choronological order required. 
            For example you can set 24/06/2021 on the first box and 06/07/2009 on the second. 
            It was kind of logic challenge to control it and make usability a little better
            than forcing the user to set ordered dates or showing negative results, like I have seen on similar websites.    
        </li>
        <li>
            I  <span id="learned">used an external API</span><a href="https://byabbe.se/on-this-day/" target="_blank"> (visit here)</a> to get the events occurred on each date. 
            I managed to get 5 random results from the api for each date, 
            also ensuring they can´t be repeated.
        </li>
        <li>
            To get the results of those API, the <span id="learned"> async HTTP requests</span> were made with <span id="learned">Angular´s httpClient</span> get() method.
            It returns an <span id="learned">Observable</span> so I had to apply some <span id="learned">Reactive Programming skills</span>.
            As it also involves async requests, I used <span id="learned">promises</span> to manage results, 
            to ensure I obtain and control data flow the way I need.
            To obtain the random 5 results mentioned above I used <span id="learned">vanilla JS</span> methods like Math.random(),
            because <span id="learned">RXJS operators</span> like <i>take</i> don´t work here. Reason is, the events
            are emitted by the API all of them together, to be able to use the take() operator they should be emitted by the Observable one by one.

        </li>
        <li>I also provide a branch on <a href="https://github.com/Franweb79/Datepedia-pwa/tree/async-await"target="_blank">GitHub</a> with the same code below, 
            but using <span id="learned">async/await</span> to see the differences. 
            Async await provides a cleaner code since the behavior
            is more similar to what we see on synchronous code</li>
        <li>
            Used <span id="learned">interfaces</span> to create <span id="learned">custom data types</span> to be manage the results shown to the user, 
            it makes data retrieved by the API easier to manipulate and ensures integrity and maintenance. Also used an interface to create a custom error object type, and to manage error messages,
            if something if wrong with the API for example.
        </li>
        <li>
            Used basic <span id="learned">angular animations</span> to flip the box with the results and the button to show events ocurred on each date.
        </li>
        
        <li>
            Basic <span id="learned">testing with karma and jasmine</span>, maybe learn Protactor in the future if I find easier and faster to automate.
        </li>
        <li>
            Form styles found <a href="https://codepen.io/prathkum/pen/OJRvVzY" target="_blank">here</a>.
        </li>
        <li>
            Customized <a [routerLink]="['/thisiserrorpage']" >404 error page</a>. Used code available <a href="https://codepen.io/Navedkhan012/pen/vrWQMY" target="_blank">here</a>.
        </li> 
        <li>
            Other libraries used are <span id="learned">Bootstrap</span> and Font Awesome.
        </li>
    </ul>
</div>